<mat-toolbar color="primary">
    <mat-icon class="app-icon">token</mat-icon>
    <span class="appName">SmartHoover LTD.</span>

    <!-- Loop through buttons, handling both routerLink and click actions -->
    <button
        class="menu-button"
        mat-flat-button
        color="primary"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        *ngFor="let button of buttons"
        [routerLink]="button.routerLink || null"
        (click)="button.action ? button.action() : null">
        {{ button.title }}
    </button>

    <span class="spacer"></span>

    <!-- Display the logged-in user's full name -->
    <span *ngIf="user" class="user-displayname">
        {{ user.firstname + ' ' + user.lastname }}
    </span>

    <!-- Display the user's role -->
    <span *ngIf="user?.role" class="user-role">({{ user.role }})</span>

    <!-- Logout Button -->
    <button mat-icon-button aria-label="Logout button" (click)="handleLogout()">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
