@import '~@angular/material/prebuilt-themes/indigo-pink.css';

:root{
  font-family: sans-serif;
  box-sizing: border-box;
}

body{
  margin: 0;
}

.mat-mdc-card{
  padding: 24px !important;
}

html, body {}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

code{
  background: #00000010;
  border-radius: 4px;
  padding: 3px;
}

/* src/styles.css */
.mat-raised-button.mat-primary {
    background-color: #16a085 !important;
    color: white !important;
}


.mat-toolbar.mat-primary {
    background: #16a085 !important;
    color: white !important;
}
.mat-mdc

.mat-flat-button.mat-primary {
    background: #16a085 !important;
}

.mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: #16a085;
    --mdc-protected-button-label-text-color: #fff;
}
.mat-mdc-unelevated-button.mat-primary {
    --mdc-filled-button-container-color: #16a085;
    --mdc-filled-button-label-text-color: #fff;
}
