<div class="container">
    <div class="text-content">
        <div class="text-box">
            <h1>HighPerformance</h1>
            <h2>Welcome back</h2><i>
            <h3><i>{{this.firstname}} {{this.lastname}}</i></h3></i>
            <p>
                This is the new Application for our company. <br>
                So now Bonus evaluations are easier than ever. <br>
                No more paper work, no more waiting for the results. <br>
                All thanks to our new HighPerformance Application.
            </p>
        </div>
    </div>
    <div class="visual">
        <div class="cloud-circle">
            <img src="./assets/images/VacuumIcon.png" alt="Cloud" />
        </div>
    </div>
</div>
